.sidebar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* puts boxes on top of eachother instead of size by size */
  flex-direction: column;
  cursor: pointer;
 
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

/* targets all selectors like this */
/* .sidebar-link,
.header {

} */
/* this targets all img in sidebar-link */
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}